@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body {
    font-family: 'Raleway';
    background-color: #05171e;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
