@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body {
    font-family: 'Raleway';
    background-color: #05171e;
    color: whitesmoke;
}

header {
    background-color: #082029;
    padding: 24px 32px;
    margin-bottom: 8px;
    color: whitesmoke;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.headerName {
    font-size: 24px;
    font-weight: 600;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-top: 80px;
}

/* Works on Firefox */
.cTableDiv {
    scrollbar-width: thin;
    scrollbar-color: #60aac4 #041c26;
}

/* Works on Chrome, Edge, and Safari */
.cTableDiv::-webkit-scrollbar {
    width: 12px;
}

.cTableDiv::-webkit-scrollbar-track {
    background: #041c26;
}

.cTableDiv::-webkit-scrollbar-thumb {
    background-color: #60aac4;
    border-radius: 20px;
    border: 3px solid #041c26;
}